dataset_newsmet/.DS_Store
dataset_manual_data/.DS_Store
/venv
dataset_manual_data/qwen/qwen-log.txt
dataset_manual_data/llama/llama-log.txt
dataset_manual_data/ministral/mistral-log.txtgemma3-log.txt
dataset_manual_data/meta/nllb-log.txt
dataset_manual_data/marian/marian-log.txt
dataset_manual_data/gemma3/gemma3-log.txt
dataset_manual_data/qwen/qwen-log.txt
dataset_newsmet/qwen/qwen-log.txt
dataset_newsmet/llama/llama-log.txt
dataset_newsmet/ministral/mistral-log.txtgemma3-log.txt
dataset_newsmet/meta/nllb-log.txt
dataset_newsmet/marian/marian-log.txt
dataset_newsmet/gemma3/gemma3-log.txt
dataset_newsmet/qwen/qwen-log.txt
.DS_Store
